build-*
*.locuser
.DS_Store
xcuserdata/
Classes/LinphoneIOSVersion.h
Pods/
Podfile.lock
GoogleService-Info.plist
build
git-clang-format.diff
submodules/tunnel
submodules/binaries/dummy-*.a
diff-format.patch
*.xcscmblueprint
# fastlane specific
**/fastlane/report.xml
# deliver temporary files
**/fastlane/Preview.html
# snapshot generated screenshots
**/fastlane/screenshots
# scan temporary files
**/fastlane/test_output
Config-extension.xcconfig
Config-msgNotificationContent.xcconfig
Config-msgNotificationService.xcconfig
Config.xcconfig
extension.entitlements
linphone.entitlements
Resources/
.env.appstore
.env.development