//
//  Config-msgNotificationService.xcconfig
//  NethCTI
//
//  Created by Administrator on 01/03/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-msgNotificationService/Pods-msgNotificationService.distribution.xcconfig"

BUNDLE_IDENTIFIER = it.nethesis.nethcti3.msgNotificationService
DISPLAY_NAME = NethCTI 3
PRODUCT_NAME = NethCTI

// Restore provisioning profiles once a year.
PROVISIONING_PROFILE_SPECIFIER_APP_STORE = NethCTI 3 msgNotificationService Distr
// Change this value once a year.
CODE_SIGN_IDENTITY = Apple Distribution: nethesis srl ($(DEVELOPMENT_TEAM))
DEVELOPMENT_TEAM = 8D66VDADVH
PROVISIONING_PROFILE_SPECIFIER = NethCTI 3 msgNotificationService Distr

SWIFT_MODULE_NAME = NethCTI
