//
//  Config-msgNotificationContent.xcconfig
//  NethCTI
//
//  Created by Administrator on 01/03/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-msgNotificationContent/Pods-msgNotificationContent.distribution.xcconfig"

BUNDLE_IDENTIFIER = it.nethesis.nethcti3.msgNotificationContent
DISPLAY_NAME = NethCTI 3
PRODUCT_NAME = NethCTI

// Restore provisioning profiles once a year.
PROVISIONING_PROFILE_SPECIFIER_APP_STORE = CHANGE_ME!!!
// Change this value once a year.
CODE_SIGN_IDENTITY = CHANGE_ME!!!
DEVELOPMENT_TEAM = CHANGE_ME!!!
PROVISIONING_PROFILE_SPECIFIER = CHANGE_ME!!!

SWIFT_MODULE_NAME = NethCTI
