<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccentColor</key>
	<string>$(ACCENT_COLOR)</string>
	<key>AppApnsAuthKey</key>
	<string>$(PUSH_WEDO_AUTH_KEY)</string>
	<key>AppApnsAuthKeyDev</key>
	<string>9b7008dc-20c2-4157-8b3e-5b97a9ff5061</string>
	<key>AppApnsBaseUrl</key>
	<string>https://push.wedo.io</string>
	<key>AppApnsBaseUrl_Dev</key>
	<string>https://push.wedo.io</string>
	<key>AppApnsBaseUrl_Dev2</key>
	<string>http://notificatore.apexnet.it/Notificatore.aspx</string>
	<key>ButtonSelectedBackground</key>
	<string>$(BUTTON_SELECTED)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>$(DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
	</array>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>linphone_icon_72@2x</string>
			<key>CFBundleURLName</key>
			<string>org.linphone.phone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>linphone_icon_72@2x</string>
			<key>CFBundleURLName</key>
			<string>org.linphone.phone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>linphone-config</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>linphone_icon_72@2x</string>
			<key>CFBundleURLName</key>
			<string>org.linphone.phone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>message-linphone</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>linphone_icon_72@2x</string>
			<key>CFBundleURLName</key>
			<string>org.linphone.phone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>linphone-widget</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Cyan</key>
	<string>$(CYAN)</string>
	<key>Green</key>
	<string>$(GREEN)</string>
	<key>Grey</key>
	<string>$(GREY)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
    <!-- NOTE: This color can be different from main background color. -->
    <key>StatusBarBgColor</key>
    <string>$(WHITE)</string>
	<key>LightCyan</key>
	<string>$(LIGHT_CYAN)</string>
	<key>LightGreen</key>
	<string>$(LIGHT_GREEN)</string>
	<key>LightGrey</key>
	<string>$(LIGHT_GREY)</string>
	<key>LightMagenta</key>
	<string>$(LIGHT_MAGENTA)</string>
	<key>Magenta</key>
	<string>$(MAGENTA)</string>
	<key>MainColor</key>
	<string>$(MAIN_COLOR)</string>
	<key>MidGrey</key>
	<string>$(MID_GREY)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>apexnet.it</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>wedo.io</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Use your BT headset</string>
	<key>NSCameraUsageDescription</key>
	<string>Share photos with your friends and customize avatars</string>
	<key>NSContactsUsageDescription</key>
	<string>Make calls with your friends, we don't send your contacts to any server.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) will not use, store or communicate your location. The authorization allows us to detect Wifi connection changes</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Use microphone to make audio calls</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Add tranfered files to your library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Share photos with your friends and customize avatars</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.org.linphone.phone</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Linphone</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>NSVoIPUsageDescription</key>
	<string>Make audio/video calls with sip protocol.</string>
	<key>NotificationAppGroupId</key>
	<string>$(MSG_NOTIFICATION_APP_GROUP_ID)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Regular.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCompose</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Message</string>
			<key>UIApplicationShortcutItemType</key>
			<string>linphone.phone.action.newMessage</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>wifi</string>
		<string>microphone</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>White</key>
	<string>$(WHITE)</string>
</dict>
</plist>
